body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Ajusta el color de fondo según tus preferencias */
}

#keyboard {
  display: flex;
  gap: 2px;
}

.key {
  width: 15vw; /* Ajusta el ancho de las teclas según el ancho de la pantalla */
  height: 8vh; /* Ajusta la altura de las teclas según el alto de la pantalla */
  background-color: #fff;
  border: 1px solid #999;
  box-sizing: border-box;
}

.white {
  background-color: #fff;
}

.black {
  width: 10vw; /* Ajusta el ancho de las teclas negras según el ancho de la pantalla */
  height: 6vh; /* Ajusta la altura de las teclas negras según el alto de la pantalla */
  background-color: #000;
  position: relative;
  margin-left: -5vw; /* Alinea las teclas negras correctamente */
  margin-right: -5vw;
  z-index: 1;
}

#controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Agrega estilos adicionales para mejorar la apariencia en dispositivos móviles */
label, select, input {
  margin-bottom: 10px;
}
